img {
	width: 30%;
	float: left;
	margin: 1.66%;
	box-shadow: 10px 10px 10px #cccccc;
}

h3 {
	font-family: Raleway, sans-serif;
	margin: 1.66%;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	font-weight: 900;
}
/* 
Parent element is <body>.
*/